<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saikyo4713.FootStamp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/footstamp" />
            </intent-filter>            
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab1"
            android:label="@string/title_section1" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab2"
            android:label="@string/title_section2" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab3"
            android:label="@string/title_section3" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab4"
            android:label="@string/title_section4" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.DetailListActivity"
            android:label="@string/title_section5" 
            android:theme = "@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>   
        <activity
            android:name="com.saikyo4713.FootStamp.DetailViewActivity"
            android:label="@string/title_section5" 
            android:theme = "@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.VisitDetailActivity"
            android:label="@string/title_section5" 
            android:theme = "@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>          
</manifest>
