<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saikyo4713.FootStamp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab1"
            android:label="@string/title_section1" >
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab2"
            android:label="@string/title_section2" >
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab3"
            android:label="@string/title_section3" >
        </activity>
        <activity
            android:name="com.saikyo4713.FootStamp.Tab4"
            android:label="@string/title_section4" >
        </activity>
        
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>      

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.parmission.INTERNET" />
    <uses-permission android:name="android.parmission.READ_CONTACTS" />    
    
</manifest>
